<% include p_header %>
<% include sub_top %>
<div class="container sub_cont">
  <h3 class="s_tit mb50">Experience</h3>
  <div class="s_menu">
    <ul>
      <li><a href="">Study Type</a></li>
      <li><a href="">Therapeutic area</a></li>
      <li class="act"><a href="">Vaccines</a></li>
      <li><a href="">Cell therapeutics</a></li>
    </ul>
  </div>
  <img src="/img/sub4_5_3.png" alt="">
</div>
<% include p_footer %>