<% include p_header %>
<% include sub_top %>
<div class="container sub_cont">
  <h3 class="s_tit mb50">Notice</h3>
  <div class="bd_v">
    <div class="tit_box">
      <h4 class="tit">제목이 들어갈 공간입니다.</h4>
      <div class="info_line">
        <span class="t1">작성자 : 관리자  </span>
        <span class="t1">작성일 : 2021.08.19</span>
        <span class="t1">조회수 : 12345</span>
      </div>
    </div>
    <div class="cont_box">
      <p>내용이 들어갈 공간입니다.</p>
      <p>내용이 들어갈 공간입니다.</p>
      <p>내용이 들어갈 공간입니다.</p>
      <p>내용이 들어갈 공간입니다.</p>
    </div>
    <div class="file_box">
      <div class="line">
        <span class="t1">첨부파일</span>
        <a href="" class="t2">첨부파일이 들어갈 공간입니다.</a>
      </div>
      <div class="line">
        <span class="t1">첨부파일</span>
        <span class="t2">첨부파일이 없습니다.</span>
      </div>
    </div>
  </div>
</div>
<% include p_footer %>