<% include p_header %>

<div class="main_slide">
  <div class="swiper-container mask">
    <div class="swiper-wrapper">
      <div class="swiper-slide item">
        <div class="bg" style="background-image: url(/img/main_slide.jpg);"></div>
        <div class="txt_box">
          <p class="t1">최상의 가치를 가진</p>
          <p class="t1">헬스케어를 지향하는 클립스(주)</p>
          <p class="t2">하나되는 파트너쉽, 견고한 신뢰, 따뜻한 소통과 더불어 엣지있는 탁월성으로 고객과 함께 성장하고 나눌 수 있는 기업이 될 것을 약속드립니다.</p>
        </div>
      </div>
      <div class="swiper-slide item">
        <div class="bg" style="background-image: url(/img/main_slide.jpg);"></div>
        <div class="txt_box">
          <p class="t1">최상의 가치를 가진</p>
          <p class="t1">헬스케어를 지향하는 클립스(주)</p>
          <p class="t2">하나되는 파트너쉽, 견고한 신뢰, 따뜻한 소통과 더불어 엣지있는 탁월성으로 고객과 함께 성장하고 나눌 수 있는 기업이 될 것을 약속드립니다.</p>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="scroll_ico js_scroll">SCROLL DOWN</button>
  <div class="btn_line">
    <button type="button" class="btn prev">PREV</button>
    <button type="button" class="btn next">NEXT</button>
  </div>
</div>
<div class="main_intro cb">
  <div class="l_cont fl"></div>
  <div class="r_cont fr">
    <div class="dt">
      <div class="dtc">
        <div class="tit_wrap">
          <p class="t1 fw7">New medicine</p>
          <p class="t1">development</p>
        </div>
        <p class="t2">CliPS NRDO는 Unmet needs가 높은 혁신 신약을 개발하는</p>
        <p class="t2">“NRDO(No Research Development Only)” 바이오 기업입니다.</p>
        <div class="intro_lst">
          <ul class="flul">
            <li>
              <img src="/img/main_intro1.png" alt="">
              <p class="t3">연구진 소개</p>
            </li>
            <li>
              <img src="/img/main_intro2.png" alt="">
              <p class="t3">연구과제 소개</p>
            </li>
            <li>
              <img src="/img/main_intro3.png" alt="">
              <p class="t3 ff_mont">Collaboration</p>
            </li>
            <li>
              <img src="/img/main_intro4.png" alt="">
              <p class="t3">특허</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main_pipe">
  <div class="r_cont fr" style="background-image: url(/img/main_pipe1.png);"></div>
  <div class="l_cont fr">
    <div class="dt">
      <div class="dtc">
        <div class="tit_wrap">
          <p class="t1">Pipelines</p>
        </div>
        <p class="t2">당사가 가지고 있는 바이오 및 백신 임상 분야의 강점을 활용하여 윤부</p>
        <p class="t2">세포치료제를 필두로 면역항암제, 치매/RSV/S.aureus 백신 등</p>
        <p class="t2">다양한 신약 개발 파이프라인을 추진 중에 있습니다.</p>
        <a href="" class="index_more">READ MORE</a>
        <div class="main_pipe_menu">
          <ul>
            <li class="act"><button type="button" class="js_btn btn" data-img="/img/main_pipe1.png">Limbal stem cell therapy</button></li>
            <li><button type="button" class="js_btn btn" data-img="/img/main_pipe2.png">Immuno Therapy</button></li>
            <li><button type="button" class="js_btn btn" data-img="/img/main_pipe1.png">Enhanced BCG</button></li>
            <li><button type="button" class="js_btn btn" data-img="/img/main_pipe1.png">MRSA vaccine</button></li>
            <li><button type="button" class="js_btn btn" data-img="/img/main_pipe1.png">RSV vaccine</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main_cro">
  <div class="tit_wrap container cb">
    <p class="t1 fl">CRO Service</p>
    <p class="t2 fl">클립스(주) CRO부문 서비스 분야를 소개합니다.</p>
    <a href="" class="index_more fr">READ MORE</a>
  </div>
  <div class="cro_slide">
    <div class="swiper-container mask">
      <div class="swiper-wrapper">
        <div class="swiper-slide item">
          <a href="" class="hover_ico bgi_a">
            <img src="/img/index_cro1.jpg" alt="">
          </a>
        </div>
        <div class="swiper-slide item">
          <a href="" class="hover_ico bgi_a">
            <img src="/img/index_cro2.jpg" alt="">
          </a>
        </div>
        <div class="swiper-slide item">
          <a href="" class="hover_ico bgi_a">
            <img src="/img/index_cro3.jpg" alt="">
          </a>
        </div>
        <div class="swiper-slide item">
          <a href="" class="hover_ico bgi_a">
            <img src="/img/index_cro4.jpg" alt="">
          </a>
        </div>
        <div class="swiper-slide item">
          <a href="" class="hover_ico bgi_a">
            <img src="/img/index_cro5.jpg" alt="">
          </a>
        </div>
        <div class="swiper-slide item">
          <a href="" class="hover_ico bgi_a">
            <img src="/img/index_cro16.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="container btn_line">
      <div class="fr line">
        <p class="t3">좌우로 스크롤 해주세요.</p>
        <button type="button" class="btn prev bgi"></button>
        <button type="button" class="btn next bgi"></button>
        <div class="progress"></div>
      </div>
    </div>
  </div>
</div>
<div class="main_notice">
  <div class="container">
    <p class="t1">NOTICE</p>
    <div class="notice_slide">
      <div class="swiper-container mask">
        <div class="swiper-wrapper">
          <div class="swiper-slide item">
            <a href="">
              <p class="t2 tov">제목이 들어갈 공간입니다. 제목이 들어갈 공간입니다.</p>
              <p class="t3 tov2">내용이 들어갈 공간입니다. 내용이 들어갈 공간입니다. 내용이 들어갈 공간입니다. 내용이 들어갈 공간입니다.</p>
              <p class="date">2021-07-16</p>
            </a>
          </div>
          <div class="swiper-slide item">
            <a href="">
              <p class="t2 tov">제목이 들어갈 공간입니다. 제목이 들어갈 공간입니다.</p>
              <p class="t3 tov2">내용이 들어갈 공간입니다. 내용이 들어갈 공간입니다. 내용이 들어갈 공간입니다. 내용이 들어갈 공간입니다.</p>
              <p class="date">2021-07-16</p>
            </a>
          </div>
          <div class="swiper-slide item">
            <a href="">
              <p class="t2 tov">제목이 들어갈 공간입니다. 제목이 들어갈 공간입니다.</p>
              <p class="t3 tov2">내용이 들어갈 공간입니다. 내용이 들어갈 공간입니다. 내용이 들어갈 공간입니다. 내용이 들어갈 공간입니다.</p>
              <p class="date">2021-07-16</p>
            </a>
          </div>
          <div class="swiper-slide item">
            <a href="">
              <p class="t2 tov">제목이 들어갈 공간입니다. 제목이 들어갈 공간입니다.</p>
              <p class="t3 tov2">내용이 들어갈 공간입니다. 내용이 들어갈 공간입니다. 내용이 들어갈 공간입니다. 내용이 들어갈 공간입니다.</p>
              <p class="date">2021-07-16</p>
            </a>
          </div>
        </div>
      </div>
      <div class="btn_line">
        <a href="" class="notice_more bgi_a"></a>
        <button type="button" class="btn prev bgi_a"></button>
        <button type="button" class="btn next bgi_a"></button>
        <div class="progress"></div>
      </div>
    </div>
    <div class="main_nav">
      <ul class="flul">
        <li>
          <a href="" class="more_ico bgi_a">
            <img src="/img/main_nav1.jpg" alt="">
            <p class="t4">브로슈어</p>
          </a>
        </li>
        <li>
          <a href="" class="more_ico bgi_a">
            <img src="/img/main_nav2.jpg" alt="">
            <p class="t4">Contact Us</p>
          </a>
        </li>
        <li>
          <a href="" class="more_ico bgi_a">
            <img src="/img/main_nav3.jpg" alt="">
            <p class="t4">채용공고 및 지원</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<button type="button" class="top_btn">TOP</button>


<!-- 
<div class="test_wrap">
  <div class="container por">

  </div>
</div> -->



<% include p_footer %>