  </div>
  <div id="footer">
    <div class="foo">
      <div class="container">
        <a href="" class="foo_logo"><img src="/img/foo_logo.png" alt=""></a>
        <div class="info_line">
          <span class="t1">클립스비엔씨(주)</span>
          <span class="t1">서울특별시 마포구 마포대로78 경찰공제회 자람빌딩 13층, 16층</span>
          <span class="t1">Tel : 070-5001-3800</span>
          <span class="t1">F. 070-8255-6666</span>
          <span class="t1">E-mail : clipsbnc@clipsbnc.com</span>
        </div>
        <p class="copy">Copyright by 2021 CLIPS. All Right Reserved.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>