<!doctype html>
<html lang="ko" data-v="v2.1.1">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no">
  
  <title>Document</title>
  <!-- n:yuna, s:2021.09.29 -->
  <link rel="stylesheet" href="/css/font/notokr.css" media="all">
	<link rel="stylesheet" href="/css/font/montserrat.css" media="all">
  <link rel="stylesheet" href="/css/plugin/swiper5.3.6.css" media="all">
  <link rel="stylesheet" href="/css/p_layout.css?v=init" media="all">
  <script src="/js/plugin/jquery-1.12.4.min.js?v=init"></script>
  <script src="/js/plugin/swiper5.3.6.min.js"></script>
  <script src="/js/dev/popup.js?v=init" defer></script>
  <script src="/js/common.js?v=init"></script>
  <script src="/js/jq_ajax.js?v=init"></script>
  <script src="/js/p-inday-1.0.0.js?v=init"></script>
  <script src="/js/index.js"></script>
</head>
<body>
<div id="wrap">
  <div class="skip_nav">
    <ul>
      <li><a href="#gnb">주 메뉴 바로가기</a></li>
      <li><a href="#content">본문 바로가기</a></li>
    </ul>
  </div>
  <div id="header">
    <div class="hd">
      <div class="hd_container cb">
        <h1 class="hd_logo fl">
          <a href="">
            <img src="/img/hd_logo.png" alt="" class="img1">
            <img src="/img/hd_logo2.png" alt="" class="img2">
          </a>
        </h1>
        <div class="gnb fl">
          <ul class="flul">
            <li><span class="t1" style="cursor:pointer" onclick="alert('준비중입니다.');">About us</span>
              <div class="depth2">
                <div class="container cb">
                  <img src="/img/depth2.jpg" alt="" class="fl">
                  <div class="cont fl">
                    <ul class="flul">
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- CEO message</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Mission & Vision</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- History</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 윤리강령</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 오시는 길</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><span class="t1" style="cursor:pointer" onclick="alert('준비중입니다.');">BIO New Drug</span>
              <div class="depth2">
                <div class="container cb">
                  <img src="/img/depth2.jpg" alt="" class="fl">
                  <div class="cont fl">
                    <ul class="flul">
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 연구진 소개</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 연구과제 소개</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Collaboration</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 특허</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><span class="t1" style="cursor:pointer" onclick="alert('준비중입니다.');">Pipeline</span>
              <div class="depth2">
                <div class="container cb">
                  <img src="/img/depth2.jpg" alt="" class="fl">
                  <div class="cont fl">
                    <ul class="flul">
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Pipeline</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Limbal Stem Cell Therapy</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Immuno Therapy</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Enhanced BCG</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- MRSA vaccine</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- RSV vaccine</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="" class="t1">CRO Service</a>
              <div class="depth2">
                <div class="container cb">
                  <img src="/img/depth2.jpg" alt="" class="fl">
                  <div class="cont fl">
                    <ul class="flul">
                      <li><a href="" class="t2">- Regulatory Consulting  </a></li>
                      <li><a href="" class="t2">- Medical Writing </a></li>
                      <li><a href="" class="t2">- Clinical Operation</a></li>
                      <li><a href="" class="t2">- DM&STAT</a></li>
                      <li><a href="" class="t2">- Experience</a></li>
                      <li><a href="" class="t2">- Network</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><span class="t1" style="cursor:pointer" onclick="alert('준비중입니다.');">홍보센터</span>
              <div class="depth2">
                <div class="container cb">
                  <img src="/img/depth2.jpg" alt="" class="fl">
                  <div class="cont fl">
                    <ul class="flul">
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Notice</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Press releases</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 수상 및 인증현황</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 브로슈어</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><span class="t1" style="cursor:pointer" onclick="alert('준비중입니다.');">Contact Us</span>
              <div class="depth2">
                <div class="container cb">
                  <img src="/img/depth2.jpg" alt="" class="fl">
                  <div class="cont fl">
                    <ul class="flul">
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 회사관련</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 견적문의</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 채용문의</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><span class="t1" style="cursor:pointer" onclick="alert('준비중입니다.');">Careers</span>
              <div class="depth2">
                <div class="container cb">
                  <img src="/img/depth2.jpg" alt="" class="fl">
                  <div class="cont fl">
                    <ul class="flul">
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 인재상</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 인재육성제도 및 복리후생</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 채용 안내</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 채용 게시판</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><span class="t1" style="cursor:pointer" onclick="alert('준비중입니다.');">IR</span>
              <div class="depth2">
                <div class="container cb">
                  <img src="/img/depth2.jpg" alt="" class="fl">
                  <div class="cont fl">
                    <ul class="flul">
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 공시정보</span></li>
                      <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 주가정보</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="lang_wrap fl">
          <a href="" class="t1 act">KOR</a>
          <a href="" class="t1">ENG</a>
        </div>
        <button type="button" class="all_menu bgi fl"></button>
      </div>
      <div class="hover_bg"></div>
    </div>

    <div class="all_menu_modal">
      <div class="wrap por">
        <div class="modal">
          <div class="line">
            <div class="line_container cb">
              <div class="tit fl">
                <p class="t1">About Us</p>
              </div>
              <div class="cont fl">
                <ul class="flul">
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- CEO message</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Mission & Vision</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- History</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 윤리강령</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 오시는 길</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="line">
            <div class="line_container cb">
              <div class="tit fl">
                <p class="t1">BIO New Drug</p>
              </div>
              <div class="cont fl">
                <ul class="flul">
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 연구진 소개</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 연구과제 소개</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Collaboration</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">특허</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="line">
            <div class="line_container cb">
              <div class="tit fl">
                <p class="t1">Pipeline</p>
              </div>
              <div class="cont fl">
                <ul class="flul">
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Pipeline</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Limbal Stem Cell Therapy</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Immuno Therapy</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Enhanced BCG</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- MRSA vaccine</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- RSV vaccine</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="line">
            <div class="line_container cb">
              <div class="tit fl">
                <p class="t1">CRO Service</p>
              </div>
              <div class="cont fl">
                <ul class="flul">
                  <li><a href="" class="t2">- Regulatory Consulting  </a></li>
                  <li><a href="" class="t2">- Medical Writing </a></li>
                  <li><a href="" class="t2">- Clinical Operation</a></li>
                  <li><a href="" class="t2">- DM&STAT</a></li>
                  <li><a href="" class="t2">- Experience</a></li>
                  <li><a href="" class="t2">- Network</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="line">
            <div class="line_container cb">
              <div class="tit fl">
                <p class="t1">홍보 센터</p>
              </div>
              <div class="cont fl">
                <ul class="flul">
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Notice</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- Press releases</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 수상 및 인증현황</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 브로슈어</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="line">
            <div class="line_container cb">
              <div class="tit fl">
                <p class="t1">Contact Us</p>
              </div>
              <div class="cont fl">
                <ul class="flul">
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 회사관련</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 견적문의</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 채용문의</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="line">
            <div class="line_container cb">
              <div class="tit fl">
                <p class="t1">Careers</p>
              </div>
              <div class="cont fl">
                <ul class="flul">
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">-인재상</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 인재육성제도 및 복리후생</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 채용 안내</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 채용 게시판</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="line">
            <div class="line_container cb">
              <div class="tit fl">
                <p class="t1">IR</p>
              </div>
              <div class="cont fl">
                <ul class="flul">
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 공시정보</span></li>
                  <li><span class="t2" style="cursor:pointer" onclick="alert('준비중입니다.');">- 주가정보</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="close_btn bgi_a"></button>
      </div>
    </div>

  </div>
  <div id="content">
  