<!-- <div class="sub_visual sub4">
  <div class="bg sub4"></div>
  <div class="container">
    <h2 class="tit">CRO Service</h2>
    <p class="t1">고객을 기반으로 한 헬스케어에 대한 솔루션을 제공하는 기업</p>
  </div>
  <div class="sub_menu">
    <ul class="flul w6">
      <li class="act"><a href="">Regulatory Consulting</a></li>
      <li><a href="">Medical Writing </a></li>
      <li><a href="">Clinical Operation</a></li>
      <li><a href="">DM&STAT</a></li>
      <li><a href="">Experience</a></li>
      <li><a href="">Network</a></li>
    </ul>
  </div>
</div> -->

<div class="sub_visual">
  <div class="bg sub5"></div>
  <div class="container">
    <h2 class="tit">홍보센터</h2>
    <p class="t1">고객을 기반으로 한 헬스케어에 대한 솔루션을 제공하는 기업</p>
  </div>
  <div class="sub_menu">
    <ul class="flul w4">
      <li class="act"><a href="">Notice</a></li>
      <li><a href="" onclick="alert('준비중입니다.');">Press releases</a></li>
      <li><a href="" onclick="alert('준비중입니다.');">수상 및 인증현황</a></li>
      <li><a href="" onclick="alert('준비중입니다.');">브로슈어</a></li>
    </ul>
  </div>
</div>